textarea{
    resize:none;
    padding: 5px;
}
* {
	box-sizing: border-box;
}

body,
head {
	font-family: "fira-sans", sans-serif;
	font-weight: 400;
	font-size: 150%;
	font-style: normal;
	margin: 0;
	padding: 0;
	color: white;
	background: rgb(32, 40, 51);
	width: auto;
	height: auto;
	overflow-x: hidden;
}

input,
button,
textarea {
	background-color: rgb(26, 33, 43);
	border-radius: 1.5em;
	border-width: 0;
	padding: 1rem;
	font-size: 1.5rem;
	outline-width: 0;
	text-align: center;
	color: white;
}
button:hover,
input:active,
textarea:hover,
input:hover {
	background-color: rgb(41, 55, 75);
}

section {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	min-height: 25px;
	padding: 100px 20vw;
}

::-webkit-scrollbar {
	width: 0.4em;
}
::-webkit-scrollbar-track {
	background: rgb(45, 55, 68);
	border-radius: 100vw;
	margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
	background: rgb(21, 30, 41);
	border-radius: 100vw;
}

@supports (scrollbar-color: black white) {
	* {
		scrollbar-color: rgb(21, 30, 41) rgb(45, 55, 68);
		scrollbar-width: thin;
	}
}


a:link,
a:visited,
a:active {
	color: rgb(129, 129, 129);
	text-decoration: none;
}

a:hover {
	color: rgb(255, 255, 255);
	text-decoration: none;
}